
  .nav-bar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-bar-1 li {
    height: 50px;
  }
  .nav-bar-2 li {
    height: 40px;
    float: right;
  }
  nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }

  nav a:hover {
    background-color: grey;
  }

  nav .left-cluster {
    margin-right: auto;
  }